/* ===== GENERAL RULES */
:root {
  --button-color: #53366b;
  --button-color2: #442b58;
  --button-shadow: #45345370;
  --active-lime: greenyellow;
  --humble-bundle: rgb(195, 42, 34);
  --h-weight: 700;
  --txt-white: whitesmoke;
}

html {
  box-sizing: border-box;
  background: url("/img/pic.jpg");
  background-size: cover;
  height: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--txt-white)
}

h1 {
  font-size: 32px;
  font-weight: var(--h-weight);
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: var(--h-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--h-weight);
}

/* ===== ANCHOR BEHAVIOUR */

/* a: order: link->visited->hover->active */
a {
  color: var(--txt-white);
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* moment of clicking */
  color: var(--active-lime);
}

input,
textarea {
  font-family: 'Carrois Gothic SC';
  width: 100%;
}

.uber-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.index-container {
  display: flex;
  flex-direction: column;
  margin: 10% 0;
  width: 40%;
}

.dark-glass {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 15px 30px -10px rgb(0, 0, 0);
  border-radius: 10px;
}

.index-about,
.index-contact,
.index-mission,
.index-work {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  opacity: 1;
  flex: 1;
  transition: 0.2s transform;
}

.index-about:hover,
.index-contact:hover,
.index-mission:hover,
.index-work:hover {
  background-color: rgba(0, 0, 0, 0.158);
  cursor: pointer;
  transform: scale(1.1);
}

.index-about:active,
.index-contact:active,
.index-mission:active,
.index-work:active {
  background-color: rgba(146, 90, 250, 0.322);
}

#contact-message {
  background-color: var(--txt-white);
  padding: 20px;
}

.grid__item {
  background-color: var(--button-color);
  color: var(--txt-white);
  padding: 10px;
  border: solid black 1px;
  border-radius: 5%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.grid-anchor {
  color: var(--anchor-gray);
}

/* responsive classes are put at the very end of a CSS file */
@media all and (min-width: 750px) { /* other @media screen, print, speech */

  .index-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* fr as in 'fraction' */
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    width: 40vh;
    height: 40vh;
    text-align: center;
    /* border: 3px solid red; */
  }

  .index-about,
  .index-contact,
  .index-mission,
  .index-work {
    width: 20vh;
    height: 20vh;
  }
}

@media all and (min-width: 1150px) {
  .index-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* fr as in 'fraction' */
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    width: 70vh;
    height: 70vh;
    text-align: center;
  }

  .index-about,
  .index-contact,
  .index-mission,
  .index-work {
    width: 30vh;
    height: 30vh;
  }
}
