/* ===== GENERAL RULES ======== */
:root {
  --button-color: #53366b;
  --button-color2: #442b58;
  --button-shadow: #45345370;
  --active-lime: greenyellow;
  --humble-bundle: rgb(195, 42, 34);
  --h-weight: 700;
  --txt-white: whitesmoke;
}

html {
  box-sizing: border-box;
  background: url("/img/pic.jpg");
  background-size: cover;
  height: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--txt-white);
}

h1 {
  font-size: 40px;
  font-weight: var(--h-weight);
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: var(--h-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--h-weight);
}

a {
  color: var(--txt-white);
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  color: var(--active-lime);
}

/* ========  END GENERAL RULES ======== */

/* ========  USER INTERFACE / MAIN VIEW ======== */

.glass {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: 8px solid rgba(174, 101, 235, 0.2);
  box-shadow: 5px 15px 30px -10px rgb(0, 0, 0);
  border-radius: 35px;
}

.menu-container {
  display: grid;
  grid-gap: 3vh;
  grid-template-rows: repeat(10, 10vh);
  grid-template-columns: repeat(10, 10vw);
  align-self: center;
}

.menu-item {
  /* border: 1px solid magenta; */
  width: 35vw;
  height: 10vh;

  /*  text inside */
  display: flex;
  align-items: center;
  justify-content: center;

  /*   centering items */
  align-self: center;
  justify-self: center;
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.158);
  cursor: pointer;
  transform: scale(1.1);
}

.menu-item:active {
  background-color: rgba(146, 90, 250, 0.322);
  animation: flash linear 75ms 3;
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0.25; }
  100% { opacity: 1; }
}

/* ======== END USER INTERFACE / MAIN VIEW ======== */

/* ======== UI ELEMENTS POSITIONS ======== */
#about {
  grid-row: 3 / 4;
  grid-column: 4 / 7;
}

#work {
  grid-row: 4 / 5;
  grid-column: 4 / 7;
}

#mission {
  grid-row: 5 / 6;
  grid-column: 4 / 7;
}

#contact {
  grid-row: 6 / 7;
  grid-column: 4 / 7;
}

/* ======== END UI ELEMENTS POSITIONS ======== */

/* ========  MODAL ======== */

.modal {
  overflow: scroll;
  display: none;
  grid-row: 2 / 8;
  grid-column: 3 / 8;
}

/* Hide scrollbar in modal */
.modal::-webkit-scrollbar {
  display: none;
}

.modal-content {
  margin: 5% auto; /* 15% from the top and centered */
  width: 80%; /* Could be more or less, depending on screen size */
}

/* ======== END MODAL ======== */

/* responsive classes are put at the very end of a CSS file */

/* @media all and (min-width: 750px) {

  .index-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 12px;
    width: 70vh;
    height: 50vh;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
  }

  .menu {
    margin-bottom: 0;
  }
}

@media all and (min-width: 1150px) {
  .menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    width: 70vh;
    height: 70vh;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    margin-top: 5%;
  }

  .menu {
    margin-bottom: 0;
  }

} */
